##exportPattern("^[[:alpha:]]+")


export(gibbs,
        label_switch,
        read_FASTA,
        combine_FASTA,
       hmm.sim,
       initialise_checkpoint,
        initialise_prior,
         FB)

