useDynLib(HMMs)
export(combine_FASTA)
export(FB)
export(FBpower)
export(gibbs)
export(hmm.sim)
export(initialise_checkpoint)
export(initialise_checkpoint_power)
export(initialise_prior)
export(label_switch)
export(powerpost)
export(read_FASTA)
export(f2)

